<div class="add-to-cart-container">
  <!-- Quantity Controls -->
  <div class="quantity-controls" *ngIf="showQuantity">
    <button class="quantity-btn" (click)="decrementQuantity()" [disabled]="quantity <= 1">
      <fa-icon [icon]="['fas', 'minus']"></fa-icon>
    </button>
    <span class="quantity-display">{{ quantity }}</span>
    <button class="quantity-btn" (click)="incrementQuantity()" [disabled]="quantity >= 99">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    </button>
  </div>

  <!-- Add to Cart Button -->
  <button class="{{ buttonClass }}" [ngClass]="{ adding: isAddingToCart }" (click)="addToCart()">
    <ng-container *ngIf="!addedToCart">
      <fa-icon [icon]="['fas', 'cart-shopping']"></fa-icon>
      <span class="m-l-2">{{ buttonLabel }}</span>
    </ng-container>
    <ng-container *ngIf="addedToCart">
      <fa-icon [icon]="['fas', 'check']"></fa-icon>
      <span class="m-l-2">{{ addedToCartMessage }}</span>
    </ng-container>
  </button>
</div>
