<div
  class="not-found-container flex-col align-items-center justify-content-center"
  [class.mobile]="currentScreenSize.ltSm"
  [class.tablet]="!currentScreenSize.ltSm && currentScreenSize.ltLg"
>
  <div class="not-found-content flex-col align-items-center">
    <img src="../../../assets/images/not-found.png" alt="Page not found" class="not-found-image" />

    <h1 class="not-found-title">404, Page Not Found</h1>

    <p class="not-found-text">
      An error occurred. It seems the page you requested does not exist or has been moved.
    </p>

    <div
      class="action-buttons p-t-5"
      [class.flex-col]="currentScreenSize.ltSm"
      [class.flex-row]="!currentScreenSize.ltSm"
      [class.justify-content-center]="!currentScreenSize.ltSm"
    >
      <a [routerLink]="['/']" class="btn-secondary">
        <span>Back</span>
      </a>

      <a [routerLink]="['/home']" class="btn-primary">
        <span>Home Page</span>
      </a>
    </div>
  </div>
</div>
